= render "navbar"

.howitworks
  .row-fluid
    .span4
      %h3 1. Create a Sale
      %p Upload any digital good and start selling instantly!
    .span4
      %h3 2. Optimize
      %p Track where sales are coming from and set up A/B tests.
    .span4
      %h3 3. Get Payed
      %p Get payed every month. We only take 5% of the sale.

  .email
    .row-fluid
      %h1 Enter Your Email
      %h2 get notified when we launch
      = label_tag :email, "email"
      = text_field_tag :email
      = submit_tag "Go", id: 'submit'



