// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.howitworks {
  margin-top: 60px;
}

h3, p {
  text-align: center;
}

.span4 {
  background-color: #eeeeee;
}

