!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Congratulations!!!
    %p
      ="You just sold #{@product.title} to #{@transaction.email}."
      %br/
    %p Thanks for using tinysale and have a great day!