%section.product_main
  .container
    .row{:role => "main"}
      .span4{:role => "sidebar", :class => 'sidebar'}
        = render "buy_box"
      .description.span8
        = render "product_description"
    .clearfix
%section.buy_it_now
  .container
    .row
      = render 'buy_middle'
%section.comments
  .container
    = render "comments"
%footer{:role => "footer"}